.layout {
	display: grid;
	overflow: hidden;

	.left-pane {
		position: relative;
	}

	&.landscape {
		grid-template-columns: auto 50vh;
		
		.left-pane {
			height: 100%;
		}
	}

	&.portrait {
		grid-template-rows: 50vw auto;
		height: 100vh;

		.left-pane,
		.right-pane {
			width: 100%;
			position: relative;
		}

		.left-pane {
			width: 100%;
		}

		.wheel {
			bottom: 0;
			margin: 0 auto;
			position: absolute;
		}
	}
}
