.wheel-container {
	height: var(--wheel-size);
	overflow: hidden;
	position: relative;
	width: var(--wheel-size);

	.item {
		position: absolute;
		right: 0;
		top: 50%;
		transform-origin: center left;
		transition: all .5s;
		width: 50%;

		&.active {
			font-weight: bold;
			z-index: 10;
		}

		&:first-child,
		&:last-child {
			opacity: 0;
		}

		.wheel-logo {
			height: 100%;
		}
	}
}

.portfolio-item {
	display: flex;
	height: calc(var(--wheel-size) / 6);
}
