.wheel {
	height: var(--wheel-size);
	overflow: hidden;
	position: relative;
	width: var(--wheel-size);

	.item {
		position: absolute;
		right: 0;
		top: 50%;
		transform-origin: center left;
		transition: all .5s;
		width: 50%;

		&.active {
			font-weight: bold;
		}

		&:first-child,
		&:last-child {
			opacity: 0;
		}
	}
}