.wheel {
	height: var(--wheel-size);
	width: calc(var(--wheel-size) / 2);

	.wheel-container {
		position: relative;
		height: 100%;
		width: 200%;
	
		.item {
			position: absolute;
			right: 0;
			top: calc(50% - (var(--wheel-size) / (var(--wheel-item-count))) / 2 );
			transform-origin: center left;
			transition:
				transform .3s,
				opacity .3s;
			width: 50%;
	
			&.active {
				font-weight: bold;
				z-index: 10;
			}
	
			&:first-child,
			&:last-child {
				opacity: 0;
			}
	
			.wheel-logo {
				height: 100%;
			}
		}
	}
	
	.portfolio-item {
		display: flex;
		height: calc(var(--wheel-size) / 6);
	}
}
