.main-content {
	.main-image-container {
		position: absolute;
		left: 50%;
		top: 50%;
		opacity: 0;
		width: 80%;
		max-width: 500px;
		transition:
		opacity .3s,
		transform .3s;

		img {
			width: 100%;
		}

		&.active {
			opacity: 1;
		}
	}

	&.horizontal {
		.main-image-container {
			transform: translate3D(-70%, -50%, 0);
		
			&.active {
				transform: translate3D(-50%, -50%, 0);
			}
		}
	}

	&.vertical {
		.main-image-container {
			transform: translate3D(-50%, -70%, 0);

			&.active {
				transform: translate3D(-50%, 0%, 0);
			}
		}
	}
}
